#tableDiscover {
  width: 100%;
}

#tdName {
  border-top: 1px solid rgb(147, 202, 2);
  font-weight: bold;
  font-size: 20;
  color: #93ca02;
  text-decoration: underline #93ca02;
  text-underline-offset: 3px;
}
