#jeedomMenuBar,
#modalTitle {
	display: none;
}

#div_mainContainer {
	margin-top: -25px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
}

#modalDisplay {
	margin-top: unset !important;
	border-radius: 8px;
}

#bt_quitJeeasyWizard {
	position: absolute;
	top: 5%;
	right: 5%;
}

#jeeasy_container {
	min-height: 600px;
	display: grid;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 75px auto max-content;
}

#jeeasy_container>h3 {
	grid-row-start: 1
}

#jeeasy_container>img {
	max-width: 400px;
	max-height: 250px;
	grid-row-start: 2
}

#jeeasy_container .input-group {
	max-width: 350px;
	margin: auto;
}

#jeeasy_navigation {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#jeeasy_navigation>div {
	min-width: 80px;
}

.navBtn,
#bt_jeedom_ready {
	font-size: 40px;
	cursor: pointer !important;
	color: var(--logo-primary-color);
}

.navDot {
	width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 50%;
	cursor: pointer !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: var(--logo-primary-color);
}

.navDot:hover,
.navDot.active {
	transform: scale(1.5);
	margin: 0 10px;
}

#div_dots_tooltip {
	position: absolute;
	top: 10px;
	background-color: var(--logo-primary-color);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	display: none;
	z-index: 1000;
}


@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10%);
        opacity: 0;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

.slide-in {
    animation: slide-in 0.5s forwards;
}