body {
	padding-top: unset;
}

#jeedomMenuBar {
	display: none;
}

#div_mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#bt_quitJeeasyWizard {
	position: absolute;
	top: 5%;
	right: 5%;
}

#jeeasy_container {
	min-height: 600px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 50px 250px 0 25px auto;
}

#jeeasy_container>h3 {
	grid-row-start: 1
}

#jeeasy_container>img {
	max-width: 400px;
	max-height: 250px;
	grid-row-start: 2
}

#jeeasy_container>.replace_logo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-row-start: 2
}

#jeeasy_container>.replace_logo .sel_father {
	max-width: 30%;
	position: relative;
}

#jeeasy_container>.replace_logo .sel_father.selected {
	border: solid 2px var(--logo-primary-color);
}

#jeeasy_container>.replace_logo img {
	max-width: 100%;
	max-height: 180px;
}

#jeeasy_container>.replace_logo .img_title {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-weight: bold;
	color: white;
	background-color: var(--logo-primary-color);
}

#jeeasy_container .input-group {
	max-width: 450px;
	margin: auto;
}

#jeeasy_container .form-control {
	font-weight: bold;
	text-align-last: center;
}

#jeeasy_container .bold {
	font-weight: bold;
}

#jeeasy_navigation {
	margin: 15px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#jeeasy_navigation>div {
	min-width: 80px;
}

.navBtn,
#bt_jeedom_ready {
	font-size: 40px;
	cursor: pointer !important;
	color: var(--logo-primary-color);
}

.navDot {
	width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: var(--logo-primary-color);
}

.navDot:hover,
.navDot.active {
	transform: scale(1.5);
}

.navDot.active {
	margin: 0 10px;
}

#div_dots_tooltip {
	position: absolute;
	top: 10px;
	background-color: var(--logo-primary-color);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	display: none;
	z-index: 1000;
}
